// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):
	--bodyBg: #FFFFFF;
    --bodyColor: #282828;
    --bodyFontFamily: 'Raleway', sans-serif;
    --bodyFontSize: 16px;
    --bodyFontWeight: 300;
    --bodyFontStyle: normal;
    --bodyLineHeight: 1.2;
    --bodyTextTransform: inherit;
    --bodyTextLetterSpacing: inherit;
    --primaryFont: 'Montserrat', sans-serif;
    --secondaryFont: 'Raleway', sans-serif;
    --pageContainer: 1150px;
    --primaryColor: #FFFFFF;
    --secondaryColor: #282828;
    --accentColor: #81fa0f6b;
    --mutedColor: #282828;
    --fifthColor: #F8F5E2;
    --sixthColor: #E9E8ED;
    --seventhColor: #282828;
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --transparentColor: transparent;
    --primaryBorder: 1px solid #FFFFFF;
    --secondaryBorder: 1px solid #282828;
    --accentBorder: 1px solid #81fa0f;
    --borderRadius: 0;
    --headerBg: #FFFFFF;
    --headerColor: #282828;
    --headerHoverColor: #0a5c2c;
    --headerActiveColor: #282828;
    --headerFontFamily: 'Raleway', sans-serif;
    --headerFontSize: 16px;
    --headerFontWeight: 400;
    --headerFontStyle: normal;
    --headerLineHeight: 1.2;
    --headerTextTransform: inherit;
    --footerBg: #FFFFFF;
    --footerColor: #282828;
    --footerFontFamily: 'Raleway', sans-serif;
    --footerFontSize: 16px;
    --footerFontWeight: 400;
    --footerFontStyle: normal;
    --footerLineHeight: 1.2;
    --footerTextTransform: inherit;
    --headlineH1Color: #282828;
    --headlineH1FontFamily: 'Montserrat', sans-serif;
    --headlineH1FontSize: 56px;
    --headlineH1FontWeight: 700;
    --headlineH1FontStyle: normal;
    --headlineH1LineHeight: 1.2;
    --headlineH1TextTransform: inherit;
    --headlineH1TextDecoration: inherit;
    --headlineH1LineVisible: block;
    --headlineH1LineBg: #FAD40F;
    --headlineH2Color: #282828;
    --headlineH2FontFamily: 'Raleway', sans-serif;
    --headlineH2FontSize: 36px;
    --headlineH2FontWeight: 700;
    --headlineH2FontStyle: normal;
    --headlineH2LineHeight: 1.2;
    --headlineH2TextTransform: inherit;
    --headlineH2TextDecoration: inherit;
    --subTitleH3Color: #282828;
    --subTitleH3FontFamily: 'Montserrat', sans-serif;
    --subTitleH3FontSize: 24px;
    --subTitleH3FontWeight: 400;
    --subTitleH3FontStyle: normal;
    --subTitleH3LineHeight: 1.2;
    --subTitleH3TextTransform: inherit;
    --subTitleH3TextDecoration: inherit;
    --subTitleH4Color: #282828;
    --subTitleH4FontFamily: 'Montserrat', sans-serif;
    --subTitleH4FontSize: 24px;
    --subTitleH4FontWeight: 600;
    --subTitleH4FontStyle: normal;
    --subTitleH4LineHeight: 1.2;
    --subTitleH4TextTransform: inherit;
    --subTitleH4TextDecoration: inherit;
    --bodyTextColor: #0a5c2c;
    --bodyText1Color: #282828;
    --bodyText1FontFamily: 'Raleway', sans-serif;
    --bodyText1FontSize: 18px;
    --bodyText1FontWeight: 400;
    --bodyText1FontStyle: normal;
    --bodyText1LineHeight: 1.6;
    --bodyText1TextTransform: inherit;
    --bodyText1TextDecoration: inherit;
    --bodyText2Color: #043f1d;
    --bodyText2FontFamily: 'Raleway', sans-serif;
    --bodyText2FontSize: 16px;
    --bodyText2FontWeight: 400;
    --bodyText2FontStyle: normal;
    --bodyText2LineHeight: 1.6;
    --bodyText2TextTransform: inherit;
    --bodyText2TextDecoration: inherit;
    --bodyText3Color: #282828;
    --bodyText3FontFamily: 'Raleway', sans-serif;
    --bodyText3FontSize: 14px;
    --bodyText3FontWeight: 400;
    --bodyText3FontStyle: normal;
    --bodyText3LineHeight: 1.6;
    --bodyText3TextTransform: inherit;
    --bodyText3TextDecoration: inherit;
    --overline1Color: #282828;
    --overline1FontFamily: 'Raleway', sans-serif;
    --overline1FontSize: 16px;
    --overline1FontWeight: 600;
    --overline1FontStyle: normal;
    --overline1LineHeight: 1.2;
    --overline1TextTransform: inherit;
    --overline1TextDecoration: inherit;
    --overline2Color: #282828;
    --overline2FontFamily: 'Raleway', sans-serif;
    --overline2FontSize: 14px;
    --overline2FontWeight: 400;
    --overline2FontStyle: normal;
    --overline2LineHeight: 1.2;
    --overline2TextTransform: inherit;
    --overline2TextDecoration: inherit;
    --caption1Color: #282828;
    --caption1FontFamily: 'Raleway', sans-serif;
    --caption1FontSize: 18px;
    --caption1FontWeight: 600;
    --caption1FontStyle: normal;
    --caption1LineHeight: 1.2;
    --caption1TextTransform: inherit;
    --caption1TextDecoration: inherit;
    --caption2Color: #282828;
    --caption2FontFamily: 'Raleway', sans-serif;
    --caption2FontSize: 18px;
    --caption2FontWeight: 400;
    --caption2FontStyle: normal;
    --caption2LineHeight: 1.2;
    --caption2TextTransform: inherit;
    --caption2TextDecoration: line-through;
    --caption3Color: #282828;
    --caption3FontFamily: 'Raleway', sans-serif;
    --caption3FontSize: 12px;
    --caption3FontWeight: 400;
    --caption3FontStyle: normal;
    --caption3LineHeight: 1.2;
    --caption3TextTransform: inherit;
    --caption3TextDecoration: inherit;
    --fieldLabelColor: #000000;
    --fieldLabelFontFamily: 'Raleway', sans-serif;
    --fieldLabelFontSize: 16px;
    --fieldLabelFontWeight: 600;
    --fieldLabelFontStyle: normal;
    --fieldLabelLineHeight: 1.2;
    --fieldLabelTextTransform: inherit;
    --fieldLabelTextDecoration: inherit;
    --inputFieldColor: #000000;
    --inputFieldBg: #ffffff;
    --inputFieldBorderColor: #E9E8ED;
    --inputFieldFocusBorderColor: #E9E8ED;
    --inputFieldFontFamily: 'Raleway', sans-serif;
    --inputFieldFontSize: 16px;
    --inputFieldFontWeight: 400;
    --inputFieldFontStyle: normal;
    --inputFieldLineHeight: 1.2;
    --inputFieldTextTransform: inherit;
    --inputFieldTextDecoration: inherit;
    --btnFontFamily: 'Raleway', sans-serif;
    --btnFontSize: 16px;
    --btnFontWeight: 600;
    --btnFontStyle: normal;
    --btnTextTransform: uppercase;
    --btnTextDecoration: inherit;
    --btnBg: #FAD40F;
    --btnHoverBg: #FAD40F;
    --btnColor: #282828;
    --btnHoverColor: #282828;
    --btnBorderColor: #FAD40F;
    --btnHoverBorderColor: #FAD40F;
    --btnBorderRadius: 0px;
    --btnBorderWidth: 1px;
    --btnBorderStyle: solid;
    --btnPrimaryBg: #81fa0f;
    --btnPrimaryHoverBg: #FFFFFF;
    --btnPrimaryColor: #282828;
    --btnPrimaryHoverColor: #282828;
    --btnPrimaryBorderColor: #FAD40F;
    --btnPrimaryHoverBorderColor: #282828;
    --btnPrimaryDisabledBg: #E9E8ED;
    --btnPrimaryDisabledColor: #000000;
    --btnSecondaryBg: #282828;
    --btnSecondaryHoverBg: #FFFFFF;
    --btnSecondaryColor: #FFFFFF;
    --btnSecondaryHoverColor: #282828;
    --btnSecondaryBorderColor: #282828;
    --btnSecondaryHoverBorderColor: #282828;
    --btnLinkColor: #FAD40F;
    --btnLinkHoverColor: #ffffff;
    --btnLinkTextDecoration: underline;
    --btnLinkLabelIcon: "e91f";
    --imageBorderRadius: 0px;
    --gridItemBorderRadius: 0px;
    --accordionBg: #FFFFFF;
    --accordionColor: #282828;
    --accordionBorderColor: #282828;
    --accordionHeadBg: #FFFFFF;
    --accordionHeadColor: #282828;
    --miniBannerBg: #F8F5E2;
    --miniBannerBorderColor: #F8F5E2;
    --cardsBg: #F8F5E2;
    --cardsBorderColor: #F8F5E2;
    --tabBg: #F8F5E2;
    --tabColor: #282828;
    --tabHoverBg: #FAD40F;
    --tabHoverColor: #282828;
    --tabActiveBg: #FAD40F;
    --tabActiveColor: #282828;
    --tabFontFamily: 'Raleway', sans-serif;
    --tabFontSize: 16px;
    --tabFontWeight: 400;
    --tabActiveFontWeight: 400;
    --tabFontStyle: normal;
    --tabTextTransform: inherit;
    --tabTextDecoration: inherit;
    --overlayBg: rgba(255, 255, 255, 0.418);
    --overlayColor: #FAD40F;
    --imageBackdropFilter: 5px;
    --widgetTintBackgroundColor: #e0e0e0;
    --storeBodyBg: #ffffff;
    --storeBodyColor: #000000;
    --storeBtnPrimaryBg: #000000;
    --storeBtnPrimaryHoverBg: #000000;
    --storeBtnPrimaryColor: #ffffff;
    --storeBtnPrimaryHoverColor: #ffffff;
    --storeBtnPrimaryBorderColor: #000000;
    --storeBtnPrimaryHoverBorderColor: #000000;
    --storeBtnPrimaryDisabledBg: #282828;
    --storeBtnPrimaryDisabledColor: #282828;
    --storeBtnSecondaryBg: #ffffff;
    --storeBtnSecondaryHoverBg: #ffffff;
    --storeBtnSecondaryColor: #000000;
    --storeBtnSecondaryHoverColor: #000000;
    --storeBtnSecondaryBorderColor: #000000;
    --storeBtnSecondaryHoverBorderColor: #000000;
    --storeBtnSecondaryDisabledBg: #ffffff;
    --storeBtnSecondaryDisabledColor: #282828;
    --blogBodyBg: #ffffff;
    --blogBodyColor: #000000;
    --blogBtnPrimaryBg: #000000;
    --blogBtnPrimaryHoverBg: #000000;
    --blogBtnPrimaryColor: #ffffff;
    --blogBtnPrimaryHoverColor: #ffffff;
    --blogBtnPrimaryBorderColor: #000000;
    --blogBtnPrimaryHoverBorderColor: #000000;
    --blogBtnPrimaryDisabledBg: #282828;
    --blogBtnPrimaryDisabledColor: #282828;
    --blogBtnSecondaryBg: #ffffff;
    --blogBtnSecondaryHoverBg: #ffffff;
    --blogBtnSecondaryColor: #000000;
    --blogBtnSecondaryHoverColor: #000000;
    --blogBtnSecondaryBorderColor: #000000;
    --blogBtnSecondaryHoverBorderColor: #000000;
    --blogBtnSecondaryDisabledBg: #ffffff;
    --blogBtnSecondaryDisabledColor: #282828;

    --animation-bounce: 0.4s cubic-bezier(0.35, 1.5, 0.6, 1);
}
