//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
    display: inline-flex;
    text-align: center;
    padding: 12px 27px;
    font-family: var(--btnFontFamily);
    @include adaptiveValue("font-size", 16, 14, );
    font-weight: var(--btnFontWeight);
    font-style: var(--btnFontStyle);
    border-radius: var(--btnBorderRadius);
    border: var(--btnBorderWidth) var(--btnBorderStyle) var(--btnBorderColor);
    text-transform: var(--btnTextTransform);
    background: var(--btnPrimaryBg);
    color: var(--btnPrimaryColor);
    border-color: var(--btnPrimaryBorderColor);
	line-height: 120%;
	transition: all .3s ease 0s;
	cursor: pointer !important;
    align-items: center;
    justify-content: center;
    @media (any-hover: hover){
        &:hover{
            background: var(--btnPrimaryHoverBg);
            color: var(--btnPrimaryHoverColor);
            border-color: var(--btnPrimaryHoverBorderColor);
        }
    }
	&--fw {
		width: 100%;
	}
}
